.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #f5f5f5;
  }
  
  .hero {
    /*background-image: linear-gradient(to bottom, #f7f7f7, #e7e7e7);*/
    background-size: 100% 300px;
    background-position: 0% 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .btn-cta {
    background-color: #23527c;
    
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-cta:hover {
    background-color: #23527c;
  }
  
  .features, .benefits {
    margin-top: 40px;
  }
  
  .features ul, .benefits ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .features li, .benefits li {
    margin-bottom: 10px;
  }
  
  .features li:before, .benefits li:before {
    content: "\2022";
    color: #337ab7;
    font-size: 18px;
    margin-right: 10px;
  }